---
import MainLayout from "../layouts/MainLayout.astro";
import BussinessCardFull from "../components/bussiness_card/BussinessCardFull.astro";
import BussinessCardSmall from "../components/bussiness_card/BussinessCardSmall.astro";
import TechStackCard from "../components/career_page/TechStackCard.astro";
import TechStackCardItem from "../components/career_page/TechStackCardItem.astro";
import WorkHistoryEntry from "../components/career_page/WorkHistoryEntry.astro";

import logoAngularjs from "../assets/images/tech_logos/logo_angularjs.png";
import logoAstrojsDark from "../assets/images/tech_logos/logo_astrojs_white.png";
import logoAstrojsLight from "../assets/images/tech_logos/logo_astrojs_black.png";
import logoDjango from "../assets/images/tech_logos/logo_django.png";
import logoDocker from "../assets/images/tech_logos/logo_docker.png";
import logoFlutter from "../assets/images/tech_logos/logo_flutter.png";
import logoGcp from "../assets/images/tech_logos/logo_gcp.png";
import logoNetFramework from "../assets/images/tech_logos/logo_net_framework.png";
import logoNopCommerce from "../assets/images/tech_logos/logo_nopcommerce.png";
import logoMariaDBDark from "../assets/images/tech_logos/logo_mariadb_white.png";
import logoMariaDBLight from "../assets/images/tech_logos/logo_mariadb_black.png";
import logoMifos from "../assets/images/tech_logos/logo_mifos.png";
import logoPostgre from "../assets/images/tech_logos/logo_psql.png";
import logoSpringBoot from "../assets/images/tech_logos/logo_springboot.png";
import logoSsms from "../assets/images/tech_logos/logo_ssms.png";
import logoVue from "../assets/images/tech_logos/logo_vue.png";
---

<MainLayout>
    <!-- Hero Section -->
    <section class="max-w-lg mx-auto">
        <div
            class="min-h-[64vh] max-h-[64rem] flex flex-col md:flex-row justify-center items-center gap-6 p-8"
        >
            <div class="flex flex-row justify-center md:justify-end">
                <div
                    class="flex min-[377px]:hidden min-[640px]:max-[720px]:flex"
                >
                    <BussinessCardSmall />
                </div>
                <div
                    class="hidden min-[377px]:flex min-[640px]:max-[720px]:hidden"
                >
                    <BussinessCardFull />
                </div>
            </div>
            <div
                class="flex flex-col justify-center items-center md:items-start gap-y-6"
            >
                <div class="text-text-800 dark:text-text-200">
                    <ul class="flex flex-col gap-y-2">
                        <li class="flex flex-row items-center gap-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-map-pinned-icon lucide-map-pinned"
                                ><path
                                    d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0"
                                ></path><circle cx="12" cy="8" r="2"
                                ></circle><path
                                    d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712"
                                ></path></svg
                            >
                            <span>Metro Manila, Philippines</span>
                        </li>
                        <li class="flex flex-row items-center gap-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-graduation-cap-icon lucide-graduation-cap"
                                ><path
                                    d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"
                                ></path>
                                <path d="M22 10v6"></path>
                                <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path>
                            </svg>
                            <span>BS Computer Science</span>
                        </li>
                        <li class="flex flex-row items-center gap-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-briefcase-business-icon lucide-briefcase-business"
                                ><path d="M12 12h.01"></path><path
                                    d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"
                                ></path><path d="M22 13a18.15 18.15 0 0 1-20 0"
                                ></path><rect
                                    width="20"
                                    height="14"
                                    x="2"
                                    y="6"
                                    rx="2"></rect></svg
                            >
                            <span>Full Stack Developer</span>
                        </li>
                        <li class="flex flex-row items-center gap-x-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-history-icon lucide-history"
                                ><path
                                    d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"
                                ></path><path d="M3 3v5h5"></path><path
                                    d="M12 7v5l4 2"></path></svg
                            >
                            <span>2 years</span>
                        </li>
                    </ul>
                </div>
                <div class="flex flex-row">
                    <button
                        class:list={[
                            "border-2 cursor-pointer select-none",
                            "border-text-600 bg-text-600",
                            "hover:border-text-700 hover:bg-text-700",
                            "transition-colors",
                        ]}
                    >
                        <div
                            class="px-3 py-2 flex flex-row items-center gap-x-1"
                        >
                            <span class="text-text-50"> Resume </span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-external-link-icon lucide-external-link stroke-text-50"
                                ><path d="M15 3h6v6"></path>
                                <path d="M10 14 21 3"></path>
                                <path
                                    d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                                ></path>
                            </svg>
                        </div>
                    </button>
                    <button
                        class:list={[
                            "group border-2 border-s-0 cursor-pointer",
                            "border-text-600",
                            "hover:border-text-700 hover:bg-text-700",
                            "transition-colors",
                        ]}
                    >
                        <div
                            class="px-3 py-2 flex flex-row items-center gap-x-1"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-download-icon lucide-download stroke-text-600 dark:stroke-text-400 group-hover:stroke-text-50"
                                ><path d="M12 15V3"></path>
                                <path
                                    d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                                >
                                </path><path d="m7 10 5 5 5-5"></path>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Tech Stack -->
    <section class="container mx-auto flex flex-col px-3 gap-y-6">
        <div class="flex flex-col">
            <h2 class="font-header font-semibold text-2xl text-color-heading">
                Tech Stack
            </h2>
            <p class="font-body text-color-body">
                I'm always open to learn new things.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
            <TechStackCard title="eCommerce App" subTitle="Backend | API | Web">
                <TechStackCardItem
                    title=".Net Framework"
                    subTitle="C# Backend"
                    logo={logoNetFramework}
                />
                <TechStackCardItem
                    title="Angular.js"
                    subTitle="Javascript Frontend"
                    logo={logoAngularjs}
                />
                <TechStackCardItem
                    title="MS SQL / MS SSMS"
                    subTitle="Relational Database"
                    logo={logoSsms}
                />
                <TechStackCardItem
                    title="nopCommerce"
                    subTitle="eCommerce Platform"
                    logo={logoNopCommerce}
                />
            </TechStackCard>
            <TechStackCard
                title="Payment Gateway Mobile App"
                subTitle="Backend | API | Mobile | DevOps"
            >
                <TechStackCardItem
                    title="Django"
                    subTitle="Python Backend"
                    logo={logoDjango}
                />
                <TechStackCardItem
                    title="Flutter"
                    subTitle="Mobile Frontend"
                    logo={logoFlutter}
                />
                <TechStackCardItem
                    title="PostgreSQL"
                    subTitle="Relational Database"
                    logo={logoPostgre}
                />
                <TechStackCardItem
                    title="Google Cloud Platform"
                    subTitle="Cloud Hosting Service"
                    logo={logoGcp}
                />
            </TechStackCard>
            <TechStackCard title="Digital Banking" subTitle="Backend | Web">
                <TechStackCardItem
                    title="Springboot"
                    subTitle="Java Backend"
                    logo={logoSpringBoot}
                />
                <TechStackCardItem
                    title="Vue.js"
                    subTitle="Javascript Frontend"
                    logo={logoVue}
                />
                <TechStackCardItem
                    title="MariaDB"
                    subTitle="Relational Database"
                    logo={logoMariaDBLight}
                    logoDark={logoMariaDBDark}
                />
                <TechStackCardItem
                    title="Mifos"
                    subTitle="Banking Platform"
                    logo={logoMifos}
                />
            </TechStackCard>
            <TechStackCard
                title="Personal Projects"
                subTitle="Technologies I love working with"
                class="col-span-1 lg:col-span-2"
            >
                <div class="grid grid-cols-1 lg:grid-cols-2">
                    <TechStackCardItem
                        title="Astro"
                        subTitle="Content-driven websites"
                        logo={logoAstrojsLight}
                        logoDark={logoAstrojsDark}
                    />
                    <TechStackCardItem
                        title="Django"
                        subTitle="Data-driven apps"
                        logo={logoDjango}
                    />
                    <TechStackCardItem
                        title="Flutter"
                        subTitle="Mobile apps"
                        logo={logoFlutter}
                    />
                    <TechStackCardItem
                        title="Docker"
                        subTitle="Deployment & development — Dev Containers"
                        logo={logoDocker}
                    />
                </div>
            </TechStackCard>
        </div>
    </section>

    <hr class="border-0 my-8" />

    <!-- Work History -->
    <section class="container mx-auto flex flex-col px-3 gap-y-6">
        <div class="flex flex-col">
            <h2 class="font-header font-semibold text-2xl text-color-heading">
                Work Experience
            </h2>
        </div>
        <div class="lg:max-w-md mx-auto">
            <div class="size-full grid grid-cols-1 md:grid-cols-3">
                <WorkHistoryEntry
                    title="Backend Developer"
                    company="Blackfort"
                    startDate="Jul 2025"
                    endDate="Present"
                >
                    <slot slot="description">
                        <p>Work Description</p>
                        <p>Work Description</p>
                        <p>Work Description</p>
                    </slot>
                    <slot slot="techStack">
                        <span> .Net 8 </span>
                        <span> Blazor MAUI </span>
                    </slot>
                </WorkHistoryEntry>
                <WorkHistoryEntry
                    title="Full Stack Developer"
                    company="SD Solutions IT Outsourcing Inc."
                    startDate="Apr 2025"
                    endDate="Jun 2025"
                >
                    <slot slot="description">
                        <p>Work description</p>
                        <p>Work Description</p>
                        <p>Work Description</p>
                    </slot>
                    <slot slot="techStack">
                        <span> .Net 4.8 </span>
                        <span> Angular.js </span>
                        <span> MS SQL </span>
                        <span> nopCommerce </span>
                    </slot>
                </WorkHistoryEntry>
                <WorkHistoryEntry
                    title="Full Stack Developer"
                    company="LevEx International"
                    startDate="Dec 2023"
                    endDate="Mar 2025"
                >
                    <slot slot="description">
                        <p>
                            Responsible for the end-to-end development of the
                            mobile app LevEx, a super app with the services
                            utility bills payment and prepaid load.
                        </p>
                        <p>
                            Enabled transactions worth 200,000 PHP across
                            company branches in Luzon, Visayas, and Mindanao.
                        </p>
                        <p>
                            <a
                                target="_blank"
                                href="https://youtu.be/znG8itkkp7g"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2.25"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="lucide lucide-external-link-icon lucide-external-link"
                                    ><path d="M15 3h6v6"></path>
                                    <path d="M10 14 21 3"></path>
                                    <path
                                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                                    ></path>
                                </svg>
                                Promotional video on Youtube
                            </a>
                        </p>
                    </slot>
                    <slot slot="techStack">
                        <span> Django </span>
                        <span> Flutter </span>
                        <span> PostgreSQL </span>
                        <span> GCP </span>
                    </slot>
                </WorkHistoryEntry>
                <WorkHistoryEntry
                    title="Software Developer Intern"
                    company="PearlPay Inc."
                    startDate="Jun 2022"
                    endDate="Nov 2022"
                >
                    <slot slot="description">
                        <p>
                            Mentored on full stack development. Implemented
                            changes from frontend to backend, following best
                            practices and frequent code reviews.
                        </p>
                        <p>
                            Trained in Scrum Agile Methodology with a
                            multicultural team to deliver a prototype product.
                        </p>
                    </slot>
                    <slot slot="techStack">
                        <span> Springboot </span>
                        <span> Vue.js </span>
                        <span> MariaDB </span>
                        <span> Mifos </span>
                    </slot>
                </WorkHistoryEntry>
            </div>
        </div>
    </section>

    <hr class="border-0 my-8" />

    <!-- Academic Background Section -->
    <section class="container mx-auto flex flex-col px-3 gap-y-6">
        <div class="flex flex-col">
            <h2 class="font-header font-semibold text-2xl text-color-heading">
                Academic Background
            </h2>
        </div>
        <div class="w-full md:max-w-md mx-auto">
            <div class="flex flex-col p-4 border-b-2 border-background-500">
                <div class="flex flex-row justify-between w-full">
                    <div class="flex flex-col">
                        <span class="font-body text-lg text-color-aside">
                            Bachelor of Science in
                        </span>
                        <span class="font-body text-xl text-color-body">
                            Computer Science
                        </span>
                    </div>
                    <div class="flex flex-col items-end">
                        <span class="font-body text-lg text-color-aside">
                            June 2019 &ndash; June 2023
                        </span>
                        <span class="font-body text-xl text-color-body">
                            University of the East
                        </span>
                    </div>
                </div>
            </div>
            <div
                class:list={[
                    "px-4 py-6",
                    "border-b-2 border-dotted border-background-500",
                    "prose dark:prose-invert prose-text ott-prose",
                ]}
            >
                <span>Undergraduate Thesis:</span>
                <h3 class="text-center font-medium my-3!">
                    "Generating Workout Sessions using Bat Algorithm"
                </h3>
                <p>
                    A web app written in PHP that generates a personalized
                    workout routine using a machine learning algorithm
                    implemented with Python and Numpy.
                </p>
                <span>Featured in:</span>
                <ol>
                    <li>
                        International Conference in Emerging Trends on Computer
                        Science 2023
                    </li>
                    <li>8th ueKamaynilaan National Conference</li>
                    <li>UE CCSS Research Colloqium</li>
                </ol>
            </div>
            <div class:list={["px-4 py-6", "flex flex-col gap-3"]}>
                <span class="prose dark:prose-invert prose-text ott-prose">
                    Positions of Responsibility:
                </span>
                <div
                    class="flex flex-col border-s-2 ps-3 border-background-500"
                >
                    <span class="font-body font-medium text-lg text-color-body">
                        Vice President of Publication
                    </span>
                    <span class="font-body text-color-body">
                        Computer Students Society
                    </span>
                    <span class="font-body mt-2 text-color-body">
                        2020 &ndash; 2022
                    </span>
                </div>
                <div
                    class="flex flex-col border-s-2 ps-3 border-background-500"
                >
                    <span class="font-body font-medium text-lg text-color-body">
                        Assistant Vice President
                    </span>
                    <span class="font-body text-color-body">
                        Computer Students Society
                    </span>
                    <span class="font-body mt-2 text-color-body">
                        2019 &ndash; 2020
                    </span>
                </div>
                <div
                    class="flex flex-col border-s-2 ps-3 border-background-500"
                >
                    <span class="font-body font-medium text-lg text-color-body">
                        Lead Researcher
                    </span>
                    <span class="font-body text-color-body">
                        Undergraduate Thesis
                    </span>
                </div>
                <div
                    class="flex flex-col border-s-2 ps-3 border-background-500"
                >
                    <span class="font-body font-medium text-lg text-color-body">
                        Lead Developer
                    </span>
                    <span class="font-body text-color-body">
                        Software Engineering I & II
                    </span>
                </div>
            </div>
        </div>
    </section>

    <div class="flex flex-col">
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
        <div class="flex flex-col justify-center items-center h-64">
            <span class="text-6xl text-text-700 dark:text-text-300">
                Hello World!
            </span>
        </div>
    </div>
</MainLayout>
